/* primary */

$black: #000000;
$nearBlack: #333333;
$darkGrey: #7a7a7a;
$mediumDarkGrey: #d5d5d5;
$mediumGrey: #cdcdcd;
$grey: #d4d4d4;
$lightGrey: #eeeeee;
$offWhite: #f9f9f9;
$white: #ffffff;

$copyColor: $lightGrey;

$activeColorBright: #baf4ff;
$activeColor: #00daff;
$activeColor-50: rgba(0, 218, 255, 0.5);
$epicColor: #ff00fb;
$legendaryColor: #1aff00;
$secondaryColor: #ff9700;
$extraBurntOrange: #31261b;
$midnightBlue: #14171e;
$slate: #303541;

$backgroundColor: $slate;

$shadow-10: rgba(0,0,0, 0.10);
$shadow-25: rgba(0,0,0, 0.25);
$shadow-50: rgba(0,0,0, 0.50);
$sunbeam-25: rgba(255,255,255, 0.25);
$sunbeam-50: rgba(255,255,255, 0.50);
