@use './colors';

$transitionSpeed: 0.2s;
$transitionEasing: ease-in-out;
$transition: $transitionSpeed $transitionEasing;

$shadowSmall: 0 0 4px -2px colors.$black;
$shadowLarge: 0 0 12px -8px colors.$black;

$vertexRadius: 2.4rem;
$vertexDiameter: 2 * $vertexRadius;

$growthTransition: 0.4s ease-out;

@function neg($val) {
  @return $val * -1
}
