@use "reset.css";
@use "colors";
@use "typography";
@use "layout";
@use "constants";


// UNIVERSAL BOX SIZING
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  // establish 1rem = 14px
  font-size: 14px;
  font-family: typography.$fontFamilyRegular;
  width: 100%;
  height: 100%;
  color: colors.$copyColor;
  background-color: colors.$midnightBlue;
  overflow: hidden;
}

:root {
  --background-color: #{colors.$backgroundColor};
  --text-color: #{colors.$black};
  --active-color: #{colors.$activeColor};
  --vertex-color: #{colors.$mediumGrey};

  --vertex-radius: #{constants.$vertexRadius};
  --vertex-diameter: #{constants.$vertexDiameter};
}

.theme-dark {
  --background-color: #{colors.$black};
  --text-color: #{colors.$white};
  --active-color: #{colors.$activeColor};
  --vertex-color: #{colors.$grey};
}
