$spaceExtraLarge: 4em;
$spaceLarge: 2em;
$spaceMediumLarge: 1.5em;
$spaceNormal: 1em;
$spaceSmall: 0.5em;
$spaceExtraSmall: 0.25em;

$screenSmallMin: 0px;
$screenSmallMax: 800px;
$screenMediumMin: 601px;
$screenMediumMax: 1024px;
$screenLargeMin: 1025px;
$screenLargeMax: 1440px;

$borderRadiusLarge: 1em;
$borderRadius: 0.5em;
$borderRadiusSmall: 0.2em;

@mixin large-and-up {
  @media screen and (min-height: $screenLargeMin) {
    @content;
  }
}

@mixin small-and-below {
  @media screen and (max-height: $screenSmallMax) {
    @content;
  }
}

