$fontFamilyRegular: 'regular';
$fontFamilyBold: 'bold';
$fontFamilyLight: 'light';

@font-face {
  font-family: $fontFamilyBold;
  src: url('/public/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: $fontFamilyRegular;
  src: url('/public/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: $fontFamilyLight;
  src: url('/public/fonts/Montserrat-Light.ttf');
}

$fontSize1: 2rem;
$fontSize2: 1.4rem;
$fontSize3: 1.2rem;
$fontSize4: 1rem;
$fontSize5: 0.6rem;


// some convenient aliases
$fontSizeTitle: $fontSize1;
$fontSizeHeading: $fontSize2;
$fontSizeSubHeading: $fontSize3;
$fontSizeBody: $fontSize4;
$fontSizeFootnote: $fontSize5;

@mixin title {
  font-size: $fontSizeTitle;
  font-family: $fontFamilyLight;
}

@mixin heading {
  font-size: $fontSizeHeading;
  font-family: $fontFamilyBold;
}

@mixin subHeading {
  font-size: $fontSizeSubHeading;
  font-family: $fontFamilyBold;
}

@mixin body {
  font-size: $fontSizeBody;
  font-family: $fontFamilyRegular;
}

@mixin footnote {
  font-size: $fontSizeFootnote;
  font-family: $fontFamilyItalic;
}
