@use '../styles/colors';
@use '../styles/elements';
@use '../styles/typography';
@use '../styles/layout';

.game-over-results-container {
  @include elements.full-page(absolute);
  display: flex;
  flex-direction: column;
  background-color: colors.$midnightBlue;
  z-index: 20;

  .game-over-section {
    padding: layout.$spaceNormal;
    flex-grow: 0;

    h1 {
      font-size: typography.$fontSize2;
    }
  }


  .round-tracker-container {
    max-height: 25vh;
    height: auto;
    overflow-y: auto;
    flex-shrink: 0;

    .round-tracker {
      position: static;
    }
  }

  .score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    text-align: center;
    margin-bottom: layout.$spaceNormal;

    h3 {
      font-size: typography.$fontSize4;
      position: relative;
      z-index: 2;
    }

    p {
     position: relative;
     z-index: 2;
    }

    h3, p, .score {
      text-shadow: 0 2px 2px colors.$shadow-25, 0 0 5px colors.$shadow-25;
    }

    .score-container-inner {
      position: relative;

      .fire-effect-container {
        font-size: 6em;
        position: absolute;
        bottom: 0.8em;
        left: 50%;
        z-index: 1;
      }
    }

    .score {
      position: relative;
      z-index: 2;
      margin: layout.$spaceExtraSmall 0;
      display: block;
    }
  }

  .back-button {
    position: absolute;
    z-index: 100;
    bottom: layout.$spaceNormal;
    text-align: center;
    width: 100%;

    button {
      @include elements.button();
      display: block;
      margin: 0 auto;
    }
  }

  .score-unit {
    margin-top: layout.$spaceSmall;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span:first-child {
      font-size: typography.$fontSize4;
      margin-bottom: layout.$spaceSmall;

    }
    span:last-child {
      font-size: typography.$fontSize3;
    }

    &.ticking {
      span:last-child {
        color: colors.$activeColor;
      }

    }
  }
}
