@use '../styles/layout';
@use '../styles/constants';
@use '../styles/colors';
@use '../styles/elements';
@use '../styles/typography';

$blockDimension: 3em;

.round-tracker {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform constants.$transition;
  transition-delay: 0.5s;

  &.hidden {
    transform: translateY(150%);
  }

  .round-step {
    display: block;
    height: $blockDimension;
    width: $blockDimension;
    line-height: $blockDimension;
    text-align: center;
    border-radius: layout.$borderRadiusSmall;
    transition: opacity constants.$transition;
    opacity: 1;
    background-color: colors.$midnightBlue;
    font-size: typography.$fontSize4;

    &.not-visible {
      opacity: 0;
    }

    &.is-tip {
      @include elements.shadow1(colors.$activeColor);
    }

    &.revealed {
      background-color: colors.$secondaryColor;
      @include elements.shadow1();
    }

    &.completed {
      background-color: colors.$activeColor;
      @include elements.shadow1();

      .icon-container {
        font-size: typography.$fontSize1;
      }
    }
  }
}
