@use '../styles/layout';
@use '../styles/constants';
@use '../styles/colors';
@use '../styles/elements';
@use '../styles/typography';

$blockDimension: 3em;

.round-tracker {
  width: 100%;
  transition: transform constants.$transition;
  transition-delay: 0.5s;

  &.hidden {
    transform: translateY(150%);
  }

  .round-line {
    margin: layout.$spaceSmall 0;
    background-color: colors.$midnightBlue;
    height: 0.4em;
    animation: grow 0.2s linear;
    width: 100%;
    transition: height constants.$growthTransition;

    &.revealed {
      background-color: colors.$secondaryColor;
    }

    &.completed {
      background-color: colors.$activeColor;
    }
  }

  .round-step-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .round-step {
    display: block;
    height: $blockDimension / 2;
    width: $blockDimension;
    line-height: $blockDimension / 2;
    text-align: center;
    border-radius: layout.$borderRadiusSmall;
    opacity: 1;
    background-color: colors.$midnightBlue;
    font-size: typography.$fontSize4;

    &.not-visible {
      opacity: 0;
    }

    &.is-tip {
      @include elements.shadow1(colors.$activeColor);
    }

    &.revealed {
      transition: opacity constants.$transition;
      background-color: colors.$secondaryColor;
      @include elements.shadow1();
    }

    &.completed {
      background-color: colors.$activeColor;
      @include elements.shadow1();
    }
  }
}


@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 0.4em;
  }
}
