@use '../styles/elements';
@use '../styles/constants';
@use '../styles/colors';
/*

----------------------------------------
4:
----------------------------------------

1   2

4   3



----------------------------------------
5:
----------------------------------------

    1

5       2

  4   3

----------------------------------------
6:
----------------------------------------

  1     2

6          3

  5     4

----------------------------------------
7:
----------------------------------------

  1     2

6    7     3

  5     4


 */


.vertex-polygon {
  position: relative;
  width: 100%;
  height: 100%;

  .vertex {
    position: absolute;

  }


  /*
     1
  3    2
  */
  &.count-3 {
    .vp-vertex-0 {
      top: 0;
      left: calc(50% - var(--vertex-radius));
    }

    .vp-vertex-1 {
      right: 0;
      bottom: 0;
    }

    .vp-vertex-2 {
      left: 0;
      bottom: 0;
    }
  }
}
