@use "../../styles/elements";
@use "../../styles/layout";
@use '../../styles/constants';

.simon-game {
  @include elements.pageContainer();
  height: 100%;
  width: 100%;
  padding: layout.$spaceNormal;

  .game-container {
    flex: 1;
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

  }

  .round-tracker {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: layout.$spaceNormal;
    width: 100%;
  }

  &.round-reset {
    .round-tracker {
      transform: translateY(200px);
    }
  }
}
