@use '../../styles/layout';
@use '../../styles/elements';

.icon-container {
  display: inline-block;
  padding: layout.$spaceSmall;

  &.has-click-handler {
    @include elements.hover-cta();
  }

  &.spin {
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
