@use '../../styles/typography';

.loading-spinner {
  text-align: center;
  font-size: typography.$fontSize3;

  &.x-small { font-size: typography.$fontSize5;}
  &.small { font-size: typography.$fontSize4;}
  &.large { font-size: typography.$fontSize2; }
  &.x-large { font-size: typography.$fontSize1; }
}
