@use '../../styles/elements';
@use '../../styles/constants';
@use '../../styles/colors';

.vertex {
  @include elements.shadow1();
  width: var(--vertex-diameter);
  height: var(--vertex-diameter);
  border-radius: 50%;
  background-color: var(--vertex-color);
  position: relative;
  overflow: hidden;
  transition:
          all constants.$growthTransition,
          background-color constants.$transition;

  &:before, &:after {
    content: '';
    position:absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity constants.$transition;
    opacity: 1;
  }

  &:before {
    background-image: radial-gradient(colors.$sunbeam-50 0%, transparent 60%);
  }
  &:after {
    background-image: radial-gradient(transparent 20%, colors.$shadow-25 100%);
  }

  &.active {
    &:after {
      opacity: 0;
    }

    @include elements.shadow1(colors.$activeColor);
    background-color: var(--active-color);

    &.secondary {
      @include elements.shadow1(colors.$secondaryColor);
      background-color: var(--secondary-color);
    }
  }

  &.disabled {
    cursor: not-allowed;
    @include elements.shadow1(transparent);
    background-color: colors.$shadow-25;
    background-image: none;

    &:before {
      opacity: 0;
    }
  }
}



